h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 56px;
  padding-top: 10px;
  padding-right: 9px;
}

#gridContainer {
  padding: 391px;
  padding-top: 10px;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 0px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.squareDiv {
  display: flex;
  background: white;
  padding: 5px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.hover {
  background: black;
}